@media (min-width: 580px) {
    .oska-pref-list {
        max-width: 45%;
    }
}

#oska-widget {
    margin: 2%;
    overflow: auto;
}

.oska-float {
    float: left;
    padding-right: 2%;
}

.oska-img {
    width: 420px;
}

@media only screen and (max-width: 480px) {
    .oska-img {
        width: 100%;
    }
}


.oska-form-prefs {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}

.oska-form-prefs div:first-child {
    min-width: 45%;
}

.oska-pref-item {
    margin: 2%;
    padding: 0.5em;
    border: black solid 1px;
    background-color: white;
    cursor: move;
    word-wrap: break-word;
}

.oska-pref-list {
    flex-shrink: 1;
    flex-grow: 1;
    border: 1px solid #aaaaaa;
    background-color: #f8f8f8;
    margin: 0.5em;
    min-height: 3em;
}

.oska-pref-list.hover {
    border: black solid 1px;
}

.button.oska-find:before {
    background-image: url('../../../../assets/images/icons/blue/arr_2right.svg');
    background-size: 16px;
    background-repeat:no-repeat;
    content:" ";
    float:left;
    height:16px;
    margin:1px 5px 0 -8px;
    width:16px;
}

.oska-find.button:hover::before { 
    background-image: url('../../../../assets/images/icons/white/arr_2right.svg');
}

.oska-searching {
    font-size: 1.25em;
    color: #28497c;
    margin: 1em 0;
    max-width: 32em;
}

.oska-found {
    float: left;
    text-align: justify;
    margin-bottom: 8px;
    border-right: 1px solid black;
    width: 20em;
    padding: 0.5em 3em 0.5em 0.5em;
}

.oska-avatar {
    margin-left: 3em;
}

.oska-widget-footer {
    overflow: hidden;
}

.oska-widget-footer img {
    float: right;
}


.oska-pie-wrapper {
    display: inline-block;
    padding: 0 2em 0 0;
}

.oska-pie {
    border-radius: 100%;
    height: calc(var(--size, 250) * 1px);
    overflow: hidden;
    position: relative;
    width: calc(var(--size, 250) * 1px);
}

.oska-pie__segment {
    --a: calc(var(--over50, 0) * -100%);
    --b: calc((1 + var(--over50, 0)) * 100%);
    --degrees: calc((var(--offset, 0) / 100) * 360);
    -webkit-clip-path: polygon(var(--a) var(--a), var(--b) var(--a), var(--b) var(--b), var(--a) var(--b));
    clip-path: polygon(var(--a) var(--a), var(--b) var(--a), var(--b) var(--b), var(--a) var(--b));
    height: 100%;
    position: absolute;
    transform: translate(0, -50%) rotate(90deg) rotate(calc(var(--degrees) * 1deg));
    transform-origin: 50% 100%;
    width: 100%;
    z-index: calc(1 + var(--over50));
}

.oska-pie__segment:after,
.oska-pie__segment:before {
    background: var(--bg, #e74c3c);
    content: '';
    height: 100%;
    position: absolute;
    width: 100%;
}

.oska-pie__segment:before {
    --degrees: calc((var(--value, 45) / 100) * 360);
    transform: translate(0, 100%) rotate(calc(var(--degrees) * 1deg));
    transform-origin: 50% 0%;
}

.oska-pie__segment:after {
    opacity: var(--over50, 0);
}

.oska-pie__label {
    color: #fff;
    bottom: 0;
    left: 0;
    opacity: 1;
    position: absolute;
    text-align: center;
    width: 50%;
    z-index: 2;
}

.oska-filter-checkbox {
    float: left;
}
