@media (min-width: 580px) {
    .oska-pref-list {
        max-width: 45%;
    }
}

#oska-widget {
    margin: 2%;
    overflow: auto;
}

.oska-float {
    float: left;
    padding-right: 2%;
}

.oska-form-prefs {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}

.oska-form-prefs div:first-child {
    min-width: 45%;
}

.oska-pref-item {
    margin: 2%;
    padding: 2px;
    border: black solid 1px;
    background-color: white;
    cursor: move;
    word-wrap: break-word;
}

.oska-pref-list {
    flex-shrink: 1;
    flex-grow: 1;
    border: 1px solid #aaaaaa;
    background-color: #f8f8f8;
    margin: 0.5em;
    min-height: 3em;
}

.oska-pref-list.hover {
    border: black solid 1px;
}

.button.oska-find:before {
    background-image: url('../../../../assets/images/icons/blue/arr_2right.svg');
    background-size: 16px;
    background-repeat:no-repeat;
    content:" ";
    float:left;
    height:16px;
    margin:1px 5px 0 -8px;
    width:16px;
}

.oska-find.button:hover::before { 
    background-image: url('../../../../assets/images/icons/white/arr_2right.svg');
}

.oska-searching {
    font-size: large;
    color: #28497c;
}

.oska-searching:before {
    content:url('../../../../assets/images/icons/blue/search.svg');
    height:16px;
    margin:1px 5px 0 -8px;
    width:16px;
}

.oska-found {
    float: left;
    text-align: justify;
    margin-bottom: 8px;
    border-right: 1px solid black;
    width: 20em;
    padding: 0.5em 3em 0.5em 0.5em;
}

.oska-avatar {
    margin-left: 3em;
}
